<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="Logs\NLog.txt"
	  throwExceptions="false">

	<!--https://nlog-project.org/config/?tab=layout-renderers-->

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<target xsi:type="Console" name="Console_HostingLifetime"
				layout="${level:truncate=4}: ${logger}[0]${newline}      ${message}" />


	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!--Output hosting lifetime messages to make Azure/Docker/VisualStudio happy -->
		<logger name="Microsoft.Hosting.Lifetime" level="Info" writeTo="Console_HostingLifetime" final="true" />
		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<!--Prevent ExceptionHandlerMiddleware from logging on its own-->
		<logger name="Microsoft.AspNetCore.Diagnostics.ExceptionHandlerMiddleware" maxlevel="Off" final="true" />
		<!--https://stackoverflow.com/questions/50451430/nlog-filters-working-with-final-blackhole-->

	</rules>

</nlog>